segmentation-models
opencv-python
matplotlib
tensorflow==2.12.0
keras==2.12.0
albumentations
pandas
click
omegaconf
hydra-core
hydra-colorlog
hydra-optuna-sweeper<1.2
mlflow
napari
numpy
scipy
scikit-image
tensorboard
tqdm
gdown
scikit-learn
rich
tifffile
tensorflow-probability
tensorflow-graphics
augmend
ipykernel
greenlet==2.0.2
